.gb-blog-detail {
  .gb-bd-navbar {
    padding: 20.2px 0;
    background-color: $gb-accent-color-yellow;
    &-menu {
      ul {
        padding: 0;
        margin: 0;
        list-style: none;
        display: flex;
        gap: 0 55px;
        @media screen and (max-width: 768px) {
          gap: 0 30px;
        }
        li {
          a {
            position: relative;
            font-size: 19px;
            line-height: 24.59px;
            font-weight: 800;
            color: $gb-black-color;
            display: flex;
            flex-direction: column-reverse;
            @media screen and (max-width: 768px) {
              font-size: 14px;
              line-height: 20px;
            }
            &::after {
              position: absolute;
              left: 0;
              content: "";
              height: 2px !important;
              width: 0%;
              background-color: $gb-black-color;
              transition: all 0.3s linear;
            }
            &:hover::after {
              width: 100%;
            }
          }
        }
      }
    }
  }

  .gb-bd {
    position: relative;
    height: fit-content;
    display: flex;
    @media screen and (max-width: 768px) {
      display: block;
    }
    &-body {
      padding-top: 68px;
      flex: 1;
      border-right: solid 1px $gb-primary-color-gray;
      @media screen and (max-width: 1200px) {
        padding-top: 30px;
      }
      .gb-bd-post-intro {
        max-width: calc(100% - 288px);
        padding: 0 !important;
        margin: auto !important;
        padding-right: 61px;
        @media screen and (max-width: 1200px) {
          max-width: calc(100% - 210px);
        }
        @media screen and (max-width: 768px) {
          max-width: calc(100% - 70px) !important;
        }
        .gb-bd-intro-title {
          font-size: 44px;
          line-height: 40px;
          @media screen and (max-width: 1200px) {
            font-size: 28px;
          }
        }
        .gb-bd-intro-info {
          margin-top: 19px;
          margin-bottom: 84px;
          display: flex;
          justify-content: space-between;
          align-items: center;
          @media screen and (max-width: 1200px) {
            margin-bottom: 30px;
          }
          .gb-bd-info-time {
            display: flex;
            @media screen and (max-width: 1200px) {
              display: unset;
            }
            h3 {
              font-size: 24px;
              line-height: 29px;
              font-weight: 900;
              color: $gb-sub-blog-color;
              margin-right: 33px;
              @media screen and (max-width: 1200px) {
                font-size: 16px;
              }
            }
  
            p {
              font-size: 18px;
              line-height: 27px;
              color: $gb-sub-blog-color;
              @media screen and (max-width: 1200px) {
                font-size: 16px;
              }
              &:last-child {
                margin-left: 22px;
                @media screen and (max-width: 1200px) {
                  margin-left: unset;
                }
              }
            }
          }
          .gb-bd-info-share {
            display: inline-flex;
            gap: 28px;
          }
        }
      }

      .gb-bd-post-content {
        max-width: calc(100% - 288px);
        padding: 0 !important;
        margin: auto !important;
        padding-right: 61px;
        margin-top: 53px;
        @media screen and (max-width: 1200px) {
          max-width: calc(100% - 210px) !important;
        }
        @media screen and (max-width: 768px) {
          max-width: calc(100% - 70px) !important;
        }
        
        .gb-bd-content-img {
          img {
            width: 100%;
            padding-bottom: 40px;
          }
        }
        .gb-bd-content-text {
          padding: 0 37px 36px 0;
          margin-bottom: 0;
          font-size: 18px;
          line-height: 27px;
          @media screen and (max-width: 768px) {
            font-size: 16px;
            padding-right: unset;
          }
        } 
        .gb-bd-content-quote {
          padding: 0 46px 0 27px;
          border-left: solid 4px #ff647c;
          margin-bottom: 53px;
          font-weight: 800;
          font-size: 20px;
          line-height: 26px;
          font-style: italic;
          @media screen and (max-width: 768px) {
            font-size: 18px;
            padding-right: unset;
          }
        }
        
        .gb-bd-content-paragraph {
          padding-right: 61px;
          margin-bottom: 60px;
          @media screen and (max-width: 1200px) {
            padding-right: unset;
          }
          h2 {
            font-size: 36px;
            line-height: 47px;
            font-weight: 900;
            margin-bottom: 22px;
            @media screen and (max-width: 768px) {
              font-size: 25px;
            }
          }
          p {
            font-size: 18px;
            line-height: 27px;
            margin-bottom: 31px;
            @media screen and (max-width: 768px) {
              font-size: 16px;
            }
            &:last-child {
              margin-bottom: 0;
            }
          }
          img {
            padding-bottom: 31px;
            width: 100%;
          }
          
        .gb-bd-paragraph-last {
          margin-bottom: 66px;
        }
        }
      }

      &-img {
        img {
          width: 100%;
          padding-bottom: 40px;
        }
      }

      &-quote {
        padding: 0 46px 0 27px;
        border-left: solid 4px #ff647c;
        font-style: italic;
      }
    }

    &-related {
      background-color: $gb-primary-color-light-gray;
      padding-bottom: 85px;
      @media screen and (max-width: 1200px) {
        padding-bottom: 40px;
      }
      @media screen and (max-width: 768px) {
        padding-left: unset;
        padding-right: unset;
        padding-bottom: 50px;
      }

      &-container {
        max-width: calc(100% - 288px);
        padding: 0 !important;
        margin: auto !important;
        @media screen and (max-width: 1200px) {
          max-width: calc(100% - 210px) !important;
        }
        @media screen and (max-width: 768px) {
          max-width: calc(100% - 70px) !important;
          padding: unset;
        }
        .gb-bd-related-title {
          margin-bottom: 29px;
          padding-top: 50px;
          font-size: 20px;
          line-height: 26px;
          @media screen and (max-width: 768px) {
            padding-top: 15px;
          }
        }
      }

      &-title {
        @media screen and (max-width: 768px) {
          margin: unset;
        }
      }

      &-items {
        display: flex;
        flex-direction: row;
        gap: 0 5%;
        @media screen and (max-width: 1200px) {
          display: unset;
        }

        .items-col {
          display: flex;
          flex: 1;
          &.gb-bd-related-col {
            row-gap: 17px;
            margin-bottom: 17px;
          }
        }

        .item {
          display: flex;
          flex-direction: row;
          align-items: center;
          gap: 0 19px;
          transition: all 0.2s linear;
          &-content {
            h3 {
              margin: 0;
              padding-bottom: 8px;
              font-weight: 800;
              font-size: 12px;
              line-height: 16px;
              color: $gb-sub-blog-color;
            }

            h2 {
              margin: 0;
              font-weight: 800;
              font-size: 16px;
              line-height: 26px;
              letter-spacing: -3% !important;
              color: $gb-black-color;
            }
          }
        }
      }
    }
  }

  .gb-bd-author {
    flex: 0.35;
    height: inherit;
    width: 100%;
    &-container {
      padding: 145px 80px 30px 33px;
      position: sticky;
      position: -webkit-sticky;
      top: 0px;
      @media screen and (max-width: 1200px) {
        padding: 45px 33px 30px 33px;
      }
    }

    &-about {
      h3 {
        font-size: 24px;
        line-height: 29px;
        letter-spacing: -2%;
        font-weight: 900;
        margin-bottom: 0;
        @media screen and (max-width: 1200px) {
          font-size: 18px;
        }
      }

      .intro {
        font-size: 16px;
        line-height: 24px;
        color: $gb-sub-blog-color;
      }

      .avatar {
        display: flex;
        margin: 24px 0 10px 0;
        align-items: center;
        cursor: pointer;
        .user {
          margin-left: 7px;
          &-name {
            font-size: 18px;
            line-height: 26px;
            font-weight: 800;
            color: $gb-sub-blog-color;
            margin: 0;
            @media screen and (max-width: 1200px) {
              font-size: 15px;
            }
          }

          &-followers {
            margin: 0;
            font-size: 14px;
            line-height: 20px;
            color: $gb-sub-blog-color;
          }
        }
      }
    }

    &-lastestNews {
      margin-top: 69px;
      @media screen and (max-width: 768px) {
        margin-top: 30px;
      }
      h2 {
        margin: 0;
        font-size: 24px;
        line-height: 29px;
        font-weight: 900;
        letter-spacing: -2%;
        
        @media screen and (max-width: 1200px) {
          font-size: 18px;
        }
      }

      .lastestNews-items {
        display: flex;
        margin-top: 44px;
        row-gap: 15px;
        @media screen and (max-width: 1200px) {
          margin-top: 20px;
        }
        h3 {
          margin: 0;
          font-size: 18px;
          line-height: 26px;
          font-weight: 800;
        }

        &-item {
          .author {
            display: flex;
            margin: 8px 0 15px 0;
            justify-content: space-between;
            p {
              margin: 0;
              font-size: 14px;
              line-height: 20px;
              color: $gb-sub-blog-color;
            }
          }
        }
      }
    }
  }
}
