$gb-primary-color-black: #181a1c;
$gb-primary-color-dark-gray: #595e65;
$gb-primary-color-gray: #cdcdcd;
$gb-primary-color-light-gray: #ecebed;
$gb-primary-color-light: #fafafa;

$gb-accent-color-yellow: #f9bc60;
$gb-accent-color-green: #abd1c6;
$gb-accent-color-red: #e16162;
$gb-accent-color-dark-green: #004643;

$gb-accent-color-blue: #0084F4;
$gb-accent-color-orange: #EE7A3F;

$gb-gradiend-color-01: linear-gradient(217.68deg, $gb-accent-color-green -26.6%, $gb-accent-color-dark-green 86.5%);
$gb-gradiend-color-02: linear-gradient(220.08deg, $gb-accent-color-yellow -17.84%, $gb-accent-color-red 90.88%);

$gb-font-family: "Avenir", sans-serif;
$gb-secondary-font-family: "Inter", sans-serif;
$gb-text-color: #1a051d;
$gb-white-color: #ffffff;
$gb-black-color: #000;
$gb-background-color: #fafbfd;
$gb-button-bg-color: #c2eade;
$gb-sub-blog-color: #595E65;
$gb-text-blog-color: #181A1C;

$gb-green-vogue-color: #153C3A;
