.gb-title {
  font-family: "Avenir", sans-serif;
  color: #1a051d;
  font-weight: 800;
  letter-spacing: -0.03em;
}
.gb-title.large {
  font-size: 62px;
  line-height: 62px;
  margin-bottom: 15px;
}
.gb-title.medium {
  font-size: 44px;
  line-height: 120%;
  margin-bottom: 10px;
}

h1,
.h1,
.gb-h1 {
  font-family: "Avenir", sans-serif;
  color: #1a051d;
  font-weight: 900;
  font-size: 36px;
  line-height: 130%;
  letter-spacing: -0.04em;
  margin-bottom: 6px;
}

h2,
.h2,
.gb-h2 {
  font-family: "Avenir", sans-serif;
  color: #1a051d;
  font-weight: 900;
  font-size: 24px;
  line-height: 120%;
  letter-spacing: -0.02em;
  margin-bottom: 12px;
}

h3,
.h3,
.gb-h3 {
  font-family: "Avenir", sans-serif;
  color: #1a051d;
  font-weight: 800;
  font-size: 20px;
  line-height: 26px;
  letter-spacing: -0.03em;
  margin-bottom: 13px;
}

body,
.gb-text {
  font-family: "Avenir", sans-serif;
  color: #1a051d;
  font-weight: 400;
  font-size: 18px;
  line-height: 150%;
}

.gb-text-2 {
  font-family: "Avenir", sans-serif;
  color: #1a051d;
  font-weight: 500;
  font-size: 14px;
  line-height: 20px;
}

.gb-small-text {
  font-family: "Avenir", sans-serif;
  color: #1a051d;
  font-weight: 400;
  font-size: 12px;
  line-height: 13px;
}

.gb-caption-text {
  font-family: "Avenir", sans-serif;
  color: #1a051d;
  font-weight: 500;
  font-size: 12px;
  line-height: 16px;
}

.gb-header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 999;
  background: rgba(255, 255, 255, 0.2);
  border-bottom: 1px solid #ffffff;
  -webkit-backdrop-filter: blur(10px);
          backdrop-filter: blur(10px);
  padding: 23px 0;
}
@media (max-width: 767px) {
  .gb-header {
    padding: 15px 0;
  }
}
.gb-header .gb-brand {
  z-index: 999;
}
.gb-header .gb-brand img {
  height: 60px;
}
@media (max-width: 767px) {
  .gb-header .gb-brand img {
    height: 50px;
  }
}
.gb-header .gb-header-toggle {
  display: none;
  width: 32px;
  height: 22px;
  position: relative;
  transform: rotate(0deg);
  transition: 0.5s ease-in-out;
  cursor: pointer;
  z-index: 999;
}
.gb-header .gb-header-toggle.open span:nth-child(1) {
  top: 10px;
  width: 0%;
  left: 50%;
}
.gb-header .gb-header-toggle.open span:nth-child(2) {
  transform: rotate(45deg);
}
.gb-header .gb-header-toggle.open span:nth-child(3) {
  transform: rotate(-45deg);
}
.gb-header .gb-header-toggle.open span:nth-child(4) {
  top: 10px;
  width: 0%;
  left: 50%;
}
.gb-header .gb-header-toggle span {
  display: block;
  position: absolute;
  height: 2px;
  width: 100%;
  background: #181a1c;
  border-radius: 2px;
  opacity: 1;
  left: 0;
  transform: rotate(0deg);
  transition: 0.25s ease-in-out;
}
.gb-header .gb-header-toggle span:nth-child(1) {
  top: 0px;
}
.gb-header .gb-header-toggle span:nth-child(2), .gb-header .gb-header-toggle span:nth-child(3) {
  top: 10px;
}
.gb-header .gb-header-toggle span:nth-child(4) {
  top: 20px;
}
@media (max-width: 767px) {
  .gb-header .gb-header-toggle {
    display: block;
  }
}
.gb-header .gb-header-menu {
  display: inline-flex;
}
@media (max-width: 767px) {
  .gb-header .gb-header-menu {
    position: fixed;
    top: 0px;
    left: 0;
    width: 100vw;
    height: 100vh;
    z-index: 998;
    transform: translateX(100%);
    transition: all ease-in-out 0.3s;
    background-color: #fff;
    justify-content: center;
    padding: 180px 0;
  }
  .gb-header .gb-header-menu ul {
    flex-direction: column;
    max-width: 540px;
  }
  .gb-header .gb-header-menu ul li {
    margin: 10px 0 !important;
  }
  .gb-header .gb-header-menu.show {
    transform: translateX(0);
  }
}
.gb-header .gb-header-menu ul {
  list-style: none;
  padding-left: 0;
  margin-bottom: 0;
  display: inline-flex;
  align-items: center;
}
.gb-header .gb-header-menu ul li:not(:last-child) {
  margin-right: 71px;
}
.gb-header .gb-header-menu ul li a {
  font-weight: 400;
  font-size: 18px;
  line-height: 150%;
  color: #181a1c;
  text-decoration: none;
  transition: all ease-in-out 0.3s;
}
.gb-header .gb-header-menu ul li a.active, .gb-header .gb-header-menu ul li a:hover {
  color: #004643;
}

.gb-footer .gb-footer-top {
  padding: 52.35px 0;
  background: #004643;
}
.gb-footer .gb-footer-top h3 {
  font-weight: 900;
  font-size: 36px;
  line-height: 130%;
  letter-spacing: -0.04em;
  color: #ffffff;
  margin-bottom: 46px;
}
@media (max-width: 1199px) {
  .gb-footer .gb-footer-top h3 {
    font-size: 30px;
  }
}
@media (max-width: 991px) {
  .gb-footer .gb-footer-top h3 {
    font-size: 28px;
    margin-bottom: 30px;
  }
}
@media (max-width: 576px) {
  .gb-footer .gb-footer-top h3 {
    font-size: 24px;
    margin-bottom: 24px;
  }
}
.gb-footer .gb-footer-top a {
  background: #c2eade;
  border-radius: 12px;
  display: inline-flex;
  align-items: center;
  padding: 25px 30px;
  font-weight: 900;
  font-size: 20px;
  line-height: 22px;
  letter-spacing: -0.03em;
  color: #004643;
  transition: all ease-in-out 0.3s;
  text-decoration: none;
}
@media (max-width: 576px) {
  .gb-footer .gb-footer-top a {
    padding-top: 10px;
    padding-bottom: 10px;
  }
  .gb-footer .gb-footer-top a svg {
    height: 18px;
    width: auto;
  }
}
.gb-footer .gb-footer-top a svg {
  margin-left: 8px;
}
.gb-footer .gb-footer-bottom {
  padding: 27px 0 29px;
  background: #181a1c;
}
.gb-footer .gb-footer-bottom .gb-footer-bottom-inner {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
}
.gb-footer .gb-footer-bottom .gb-footer-bottom-inner ul {
  padding-left: 0;
  margin-bottom: 0;
  display: inline-flex;
  align-items: center;
  list-style: none;
}
@media (max-width: 1199px) {
  .gb-footer .gb-footer-bottom .gb-footer-bottom-inner .gb-footer-logo {
    width: 20%;
  }
}
@media (max-width: 1199px) {
  .gb-footer .gb-footer-bottom .gb-footer-bottom-inner .gb-footer-menu {
    width: 80%;
    text-align: right;
  }
  .gb-footer .gb-footer-bottom .gb-footer-bottom-inner .gb-footer-menu ul {
    justify-content: flex-end;
  }
}
@media (max-width: 767px) {
  .gb-footer .gb-footer-bottom .gb-footer-bottom-inner .gb-footer-menu {
    width: 100%;
    text-align: left;
    margin: 10px 0;
  }
}
@media (max-width: 767px) {
  .gb-footer .gb-footer-bottom .gb-footer-bottom-inner .gb-footer-menu ul {
    justify-content: flex-start;
  }
}
@media (max-width: 576px) {
  .gb-footer .gb-footer-bottom .gb-footer-bottom-inner .gb-footer-menu ul {
    margin: 15px 0;
    flex-direction: column;
    align-items: flex-start;
  }
}
@media (max-width: 767px) {
  .gb-footer .gb-footer-bottom .gb-footer-bottom-inner .gb-footer-menu ul li:first-child a {
    padding-left: 0;
  }
}
.gb-footer .gb-footer-bottom .gb-footer-bottom-inner .gb-footer-menu ul li a {
  text-decoration: none;
  padding: 10px 18px;
  font-family: "Inter", sans-serif;
  font-weight: 400;
  font-size: 12px;
  line-height: 15px;
  color: #ffffff;
  white-space: nowrap;
}
@media (max-width: 576px) {
  .gb-footer .gb-footer-bottom .gb-footer-bottom-inner .gb-footer-menu ul li a {
    padding: 0;
  }
}
.gb-footer .gb-footer-bottom .gb-footer-bottom-inner .gb-footer-copyright {
  font-family: "Inter", sans-serif;
  font-weight: 400;
  font-size: 12px;
  line-height: 15px;
  color: #fafafa;
}
@media (max-width: 1199px) {
  .gb-footer .gb-footer-bottom .gb-footer-bottom-inner .gb-footer-copyright {
    width: 70%;
    padding-top: 10px;
  }
}
@media (max-width: 576px) {
  .gb-footer .gb-footer-bottom .gb-footer-bottom-inner .gb-footer-copyright {
    width: 100%;
    margin-bottom: 10px;
  }
}
@media (max-width: 1199px) {
  .gb-footer .gb-footer-bottom .gb-footer-bottom-inner .gb-footer-socials {
    text-align: right;
    width: 30%;
  }
  .gb-footer .gb-footer-bottom .gb-footer-bottom-inner .gb-footer-socials ul {
    justify-content: flex-end;
  }
}
@media (max-width: 576px) {
  .gb-footer .gb-footer-bottom .gb-footer-bottom-inner .gb-footer-socials {
    width: 100%;
    text-align: left;
  }
}
@media (max-width: 576px) {
  .gb-footer .gb-footer-bottom .gb-footer-bottom-inner .gb-footer-socials ul li:first-child a {
    margin-left: 0;
  }
}
.gb-footer .gb-footer-bottom .gb-footer-bottom-inner .gb-footer-socials ul li a {
  text-decoration: none;
  margin: 0 15px;
}
.gb-footer .gb-footer-bottom .gb-footer-bottom-inner .gb-footer-socials ul li a:hover img {
  transform: scale(1.1);
}
.gb-footer .gb-footer-bottom .gb-footer-bottom-inner .gb-footer-socials ul li a img {
  transform-origin: center center;
  transition: all ease-in-out 0.3s;
}

.gb-page-content {
  background-color: #fafbfd;
  padding-top: 107px;
}
@media (max-width: 767px) {
  .gb-page-content {
    padding-top: 81px;
  }
}

.gb-page-banner {
  padding-top: 73px;
  padding-bottom: 160px;
}
@media (max-width: 767px) {
  .gb-page-banner {
    padding-bottom: 80px;
  }
}
.gb-page-banner .gb-page-subtitle {
  font-family: "Avenir", sans-serif;
  color: #1a051d;
  font-weight: 500;
  font-size: 24px;
  line-height: 120%;
  letter-spacing: -0.02em;
  color: #000;
  margin-bottom: 16px;
  text-align: center;
}
.gb-page-banner .gb-page-title {
  font-family: "Avenir", sans-serif;
  color: #1a051d;
  font-weight: 800;
  font-size: 90px;
  line-height: 62px;
  text-align: center;
  letter-spacing: -0.03em;
  color: #181a1c;
  margin-bottom: 40px;
}
@media (max-width: 767px) {
  .gb-page-banner .gb-page-title {
    font-size: 60px;
  }
}
.gb-page-banner .gb-page-description {
  font-family: "Avenir", sans-serif;
  color: #1a051d;
  font-weight: 400;
  font-size: 18px;
  line-height: 150%;
  text-align: center;
  color: #595e65;
  width: 708px;
  max-width: 100%;
  margin-left: auto;
  margin-right: auto;
}

.gb-blog-detail .gb-bd-navbar {
  padding: 20.2px 0;
  background-color: #f9bc60;
}
.gb-blog-detail .gb-bd-navbar-menu ul {
  padding: 0;
  margin: 0;
  list-style: none;
  display: flex;
  gap: 0 55px;
}
.gb-blog-detail .gb-bd-navbar-menu ul li a {
  position: relative;
  font-size: 19px;
  line-height: 24.59px;
  font-weight: 800;
  font-family: "Avenir", sans-serif;
  color: #000;
  display: flex;
  flex-direction: column-reverse;
}
.gb-blog-detail .gb-bd-navbar-menu ul li a::after {
  position: absolute;
  left: 0;
  content: "";
  height: 2px !important;
  width: 0%;
  background-color: #000;
  transition: all 0.3s linear;
}
.gb-blog-detail .gb-bd-navbar-menu ul li a:hover::after {
  width: 100%;
}
.gb-blog-detail .gb-bd-detail {
  position: relative;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
}
.gb-blog-detail .gb-bd-detail-body {
  padding-top: 68px;
  flex: 1;
  border-right: solid 1px #cdcdcd;
}
.gb-blog-detail .gb-bd-detail-body-title {
  padding-left: 144px;
  padding-right: 61px;
}
.gb-blog-detail .gb-bd-detail-body-title h1 {
  font-size: 44px;
  line-height: 53px;
  font-family: "Avenir", sans-serif;
  font-weight: 800;
  margin-bottom: 0;
}
.gb-blog-detail .gb-bd-detail-body-title .time h3 {
  font-size: 24px;
  line-height: 29px;
  font-weight: 900;
  font-family: "Avenir", sans-serif;
  color: #595E65;
  margin-right: 33px;
}
.gb-blog-detail .gb-bd-detail-body-title .time p {
  font-size: 18px;
  line-height: 27px;
  font-weight: 400;
  font-family: "Avenir", sans-serif;
  color: #595E65;
}
.gb-blog-detail .gb-bd-detail-body-title .time p:last-child {
  margin-left: 22px;
}
.gb-blog-detail .gb-bd-detail-body-title .app svg {
  transition: all 0.3s linear;
  cursor: pointer;
}
.gb-blog-detail .gb-bd-detail-body-title .app svg:nth-child(1) {
  -webkit-animation: appfly 4s infinite;
          animation: appfly 4s infinite;
}
.gb-blog-detail .gb-bd-detail-body-title .app svg:nth-child(2) {
  -webkit-animation: appfly2 4s infinite;
          animation: appfly2 4s infinite;
}
.gb-blog-detail .gb-bd-detail-body-sub {
  margin-top: 19px;
  margin-bottom: 84px;
}
.gb-blog-detail .gb-bd-detail-body-sub .gb-bd-share {
  display: inline-flex;
  gap: 28px;
}
.gb-blog-detail .gb-bd-detail-body-image img {
  width: 100%;
  padding-bottom: 40px;
}
.gb-blog-detail .gb-bd-detail-body-text {
  padding-right: 37px;
  padding-bottom: 36px;
  margin-bottom: 0;
  font-size: 18px;
  line-height: 27px;
  font-weight: 400;
  font-family: "Avenir", sans-serif;
  color: #181A1C;
}
.gb-blog-detail .gb-bd-detail-body-quote {
  padding-right: 46px;
  padding-left: 27px;
  border-left: solid 4px #ff647c;
  margin-bottom: 0;
  font-family: "Avenir", sans-serif;
  font-weight: 800;
  font-size: 20px;
  line-height: 26px;
  letter-spacing: -3%;
  font-style: italic;
}
.gb-blog-detail .gb-bd-detail-content {
  padding-left: 144px;
  padding-right: 61px;
  margin-top: 53px;
}
.gb-blog-detail .gb-bd-detail-content-item {
  padding-right: 61px;
  margin-bottom: 60px;
}
.gb-blog-detail .gb-bd-detail-content-item h2 {
  font-family: "Avenir", sans-serif;
  font-size: 36px;
  line-height: 47px;
  font-weight: 900;
  letter-spacing: -4%;
  color: #181A1C;
  margin-bottom: 22px;
}
.gb-blog-detail .gb-bd-detail-content-item p {
  font-family: "Avenir", sans-serif;
  font-size: 18px;
  line-height: 27px;
  font-weight: 400;
  color: #181A1C;
}
.gb-blog-detail .gb-bd-detail-content-item p:last-child {
  margin-bottom: 0;
}
.gb-blog-detail .gb-bd-detail-content-item:nth-child(4) img {
  padding: 31px 0;
  width: 100%;
}
.gb-blog-detail .gb-bd-detail-related {
  padding: 50px 32px 85px 144px;
  background-color: #ecebed;
}
.gb-blog-detail .gb-bd-detail-related h2 {
  margin-bottom: 29px;
}
.gb-blog-detail .gb-bd-detail-related-items {
  display: flex;
  flex-direction: row;
  gap: 0 5%;
}
.gb-blog-detail .gb-bd-detail-related-items .items-col {
  flex: 1;
}
.gb-blog-detail .gb-bd-detail-related-items .items-col.gb-bd-related-col {
  row-gap: 17px;
}
.gb-blog-detail .gb-bd-detail-related-items .item {
  display: flex;
  flex-direction: row;
  gap: 0 19px;
  transition: all 0.2s linear;
}
.gb-blog-detail .gb-bd-detail-related-items .item-content h3 {
  margin: 0;
  padding-bottom: 8px;
  font-family: "Avenir", sans-serif;
  font-weight: 800;
  font-size: 12px;
  line-height: 16px;
  color: #595E65;
}
.gb-blog-detail .gb-bd-detail-related-items .item-content h2 {
  margin: 0;
  font-family: "Avenir", sans-serif;
  font-weight: 800;
  font-size: 16px;
  line-height: 26px;
  letter-spacing: -3% !important;
  color: #000;
}
.gb-blog-detail .gb-bd-author {
  flex: 0.35;
  height: inherit;
  width: 100%;
}
.gb-blog-detail .gb-bd-author-container {
  padding: 145px 80px 30px 33px;
  position: sticky;
  position: -webkit-sticky;
  top: 0px;
}
.gb-blog-detail .gb-bd-author-about h3 {
  font-family: "Avenir", sans-serif;
  font-size: 24px;
  line-height: 29px;
  letter-spacing: -2%;
  font-weight: 900;
  color: #181A1C;
  margin-bottom: 0;
}
.gb-blog-detail .gb-bd-author-about .intro {
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;
  font-family: "Avenir", sans-serif;
  color: #595E65;
}
.gb-blog-detail .gb-bd-author-about .avatar {
  margin-top: 24px;
  margin-bottom: 10px;
}
.gb-blog-detail .gb-bd-author-about .avatar .user {
  margin-left: 7px;
}
.gb-blog-detail .gb-bd-author-about .avatar .user h2 {
  font-size: 18px;
  line-height: 26px;
  font-weight: 800;
  font-family: "Avenir", sans-serif;
  letter-spacing: -3%;
  color: #595E65;
  margin: 0;
}
.gb-blog-detail .gb-bd-author-about .avatar .user p {
  margin: 0;
  font-size: 15px;
  line-height: 20px;
  font-weight: 400;
  font-family: "Avenir", sans-serif;
  color: #595E65;
}
.gb-blog-detail .gb-bd-author-lastestNews {
  margin-top: 69px;
}
.gb-blog-detail .gb-bd-author-lastestNews h2 {
  margin: 0;
  font-size: 24px;
  line-height: 29px;
  font-family: "Avenir", sans-serif;
  font-weight: 900;
  letter-spacing: -2%;
  color: #181A1C;
}
.gb-blog-detail .gb-bd-author-lastestNews .lastestNews-items {
  margin-top: 44px;
  row-gap: 15px;
}
.gb-blog-detail .gb-bd-author-lastestNews .lastestNews-items h3 {
  margin: 0;
  font-size: 18px;
  line-height: 26px;
  font-weight: 800;
  letter-spacing: -3%;
  font-family: "Avenir", sans-serif;
  color: #181A1C;
}
.gb-blog-detail .gb-bd-author-lastestNews .lastestNews-items-item .author {
  margin-top: 8px;
}
.gb-blog-detail .gb-bd-author-lastestNews .lastestNews-items-item .author p {
  margin: 0;
  font-size: 14px;
  line-height: 20px;
  font-weight: 400;
  font-family: "Avenir", sans-serif;
  color: #595E65;
}

@media screen and (max-width: 1200px) {
  .gb-bd-detail-body-title {
    padding-left: 105px !important;
    padding-right: 40px !important;
  }
  .gb-bd-detail-content {
    padding-left: 105px !important;
    padding-right: 40px !important;
  }
  .gb-bd-detail-related {
    padding-left: 105px !important;
    padding-right: 20px !important;
  }
  .gb-bd-detail-related-items {
    gap: 0 10px !important;
  }
  .gb-bd-detail-related-items .item {
    gap: 0 10px !important;
  }
  .gb-bd-detail-related-items .item-content h3 {
    padding-bottom: 0px !important;
    font-size: 10px !important;
    line-height: 12px !important;
  }
  .gb-bd-detail-related-items .item-content h2 {
    font-size: 14px !important;
    line-height: 22px !important;
  }
  .gb-bd-author-container {
    padding: 20px !important;
  }
  .gb-bd-author-about h3 {
    font-size: 21px !important;
    line-height: 25px !important;
    font-weight: 800 !important;
  }
  .gb-bd-author-about .intro {
    font-size: 15px !important;
    line-height: 23px !important;
  }
  .gb-bd-author-about .avatar {
    margin-top: 18px !important;
    margin-bottom: 18px !important;
  }
  .gb-bd-author-about .avatar .user h2 {
    font-size: 16px !important;
    line-height: 24px !important;
  }
  .gb-bd-author-about .avatar .user p {
    font-size: 13px !important;
    line-height: 18px !important;
  }
  .gb-bd-author-lastestNews {
    margin-top: 20px !important;
  }
  .gb-bd-author-lastestNews h2 {
    font-size: 21px !important;
    line-height: 25px !important;
    font-weight: 800 !important;
  }
  .gb-bd-author-lastestNews .lastestNews-items {
    margin-top: 15px !important;
  }
  .gb-bd-author-lastestNews .lastestNews-items h3 {
    font-size: 18px !important;
    line-height: 22px !important;
  }
  .gb-bd-author-lastestNews .lastestNews-items-item .author {
    margin-top: 5px !important;
  }
  .gb-bd-author-lastestNews .lastestNews-items-item .author p {
    margin: 0;
    font-size: 13px !important;
    line-height: 18px !important;
  }
}
@media screen and (max-width: 992px) {
  .gb-blog-detail-related-items {
    gap: 20px 0;
  }
}
@media screen and (max-width: 768px) {
  .gb-bd-navbar {
    padding: 10px 0 !important;
  }
  .gb-bd-navbar a {
    font-size: 16px !important;
    line-height: 22px !important;
  }
  .gb-bd-navbar img {
    width: 80% !important;
    height: 80% !important;
  }
  .gb-bd-navbar-menu ul {
    gap: 0 30px !important;
  }
  .gb-bd-navbar-menu ul li {
    font-size: 14px !important;
    line-height: 20px !important;
  }
  .gb-bd-detail-body-title {
    padding-left: 30px !important;
    padding-right: 30px !important;
  }
  .gb-bd-detail-body-title h1 {
    font-size: 36px !important;
    line-height: 44px !important;
  }
  .gb-bd-detail-body-sub {
    margin-top: 10px !important;
    margin-bottom: 40px !important;
  }
  .gb-bd-detail-body-sub .time h3 {
    font-size: 18px !important;
    line-height: 22px !important;
  }
  .gb-bd-detail-body-sub .time p {
    font-size: 14px !important;
    line-height: 18px !important;
  }
  .gb-bd-detail-body-image img {
    width: 100%;
    padding-bottom: 40px;
  }
  .gb-bd-detail-body-text {
    padding-right: 0 !important;
    padding-bottom: 15px !important;
    font-size: 14px !important;
    line-height: 22px !important;
  }
  .gb-bd-detail-body-quote {
    padding-right: 0px !important;
    padding-left: 15px;
  }
  .gb-bd-detail-content {
    padding-left: 30px !important;
    padding-right: 30px !important;
  }
  .gb-bd-detail-content-item {
    padding-right: 0px !important;
  }
  .gb-bd-detail-content-item h2 {
    font-size: 26px !important;
    line-height: 36px !important;
  }
  .gb-bd-detail-content-item p {
    font-size: 14px !important;
    line-height: 22px !important;
  }
  .gb-bd-detail-content-item:nth-child(4) img {
    padding: 31px 0;
    width: 100%;
  }
  .gb-bd-detail-related {
    padding: 30px !important;
  }
  .gb-bd-detail-related-items {
    display: flex;
    flex-direction: column !important;
    gap: 20px 0 !important;
  }
  .gb-bd-detail-related-items .item-content h3 {
    padding-bottom: 8px !important;
    font-size: 13px !important;
    line-height: 17px !important;
  }
  .gb-bd-detail-related-items .item-content h2 {
    font-size: 16px !important;
    line-height: 22px !important;
  }
  .gb-bd-author-container {
    padding: 10px !important;
  }
  .gb-bd-author-about h3 {
    font-size: 18px !important;
    line-height: 22px !important;
  }
  .gb-bd-author-about .intro {
    font-size: 14px !important;
    line-height: 20px !important;
  }
  .gb-bd-author-about .avatar img {
    height: 30% !important;
    width: 30% !important;
  }
  .gb-bd-author-about .avatar .user h2 {
    font-size: 15px !important;
    line-height: 22px !important;
  }
  .gb-bd-author-about .avatar .user p {
    font-size: 12px !important;
    line-height: 16px !important;
  }
  .gb-bd-author-lastestNews {
    margin-top: 20px !important;
  }
  .gb-bd-author-lastestNews h2 {
    font-size: 18px !important;
    line-height: 22px !important;
  }
  .gb-bd-author-lastestNews .lastestNews-items {
    margin-top: 15px !important;
  }
  .gb-bd-author-lastestNews .lastestNews-items h3 {
    font-size: 16px !important;
    line-height: 20px !important;
  }
}
@media screen and (max-width: 576px) {
  .gb-bd-author {
    display: none;
  }
  .gb-bd-navbar a {
    font-size: 14px !important;
    line-height: 20px;
  }
  .gb-bd-detail-body-title h1 {
    font-size: 32px !important;
    line-height: 38px !important;
  }
  .gb-bd-detail-body-title .time h3 {
    font-size: 17px !important;
    line-height: 21px !important;
  }
  .gb-bd-detail-body-title .time p {
    font-size: 13px !important;
    line-height: 16px !important;
  }
}
.gb-main-expertise .gb-page-content .gb-expertise-header {
  position: relative;
  height: 72px;
  background-color: #f9bc60;
}
.gb-main-expertise .gb-page-content .gb-expertise-header .nav-menu {
  background-color: #f9bc60;
}
.gb-main-expertise .gb-page-content .gb-expertise-header .gb-main-expertise-img {
  position: absolute;
  top: 50%;
  right: 10%;
  transform: translateY(-50%);
}
.gb-main-expertise .gb-page-content .gb-expertise-introduce {
  padding-top: 76px;
}
.gb-main-expertise .gb-page-content .gb-expertise-introduce h3 {
  font-weight: 900;
  font-size: 24px;
}
.gb-main-expertise .gb-page-content .gb-expertise-introduce h1 {
  font-size: 62px;
  font-weight: 800;
  line-height: 62px;
  text-align: center;
}
@media (max-width: 576px) {
  .gb-main-expertise .gb-page-content .gb-expertise-introduce h1 {
    font-size: 36px;
    line-height: 36px;
  }
}
.gb-main-expertise .gb-page-content .gb-expertise-introduce p {
  width: 52%;
  font-size: 18px;
  font-weight: 400;
  line-height: 27px;
  text-align: center;
  margin-top: 30px;
}
@media (max-width: 991px) {
  .gb-main-expertise .gb-page-content .gb-expertise-introduce p {
    width: 100%;
  }
}
@media (max-width: 576px) {
  .gb-main-expertise .gb-page-content .gb-expertise-introduce p {
    font-size: 14px;
  }
}
.gb-main-expertise .gb-page-content .gb-expertise-banner {
  margin-top: 83px;
  margin-bottom: 114px;
}
.gb-main-expertise .gb-page-content .gb-expertise-banner .gb-expertise-banner-inner {
  padding: 75px 59px;
  height: 100%;
  width: 100%;
  background-color: #ffffff;
  overflow: hidden;
}
.gb-main-expertise .gb-page-content .gb-expertise-banner .gb-expertise-banner-inner h3 {
  font-weight: 900;
  font-size: 24px;
  line-height: 29px;
  margin-bottom: 45px;
}
@media (max-width: 992px) {
  .gb-main-expertise .gb-page-content .gb-expertise-banner .gb-expertise-banner-inner h3 {
    font-size: 18px;
  }
}
@media (max-width: 768px) {
  .gb-main-expertise .gb-page-content .gb-expertise-banner .gb-expertise-banner-inner h3 {
    font-size: 24px;
  }
}
@media (max-width: 576px) {
  .gb-main-expertise .gb-page-content .gb-expertise-banner .gb-expertise-banner-inner h3 {
    font-size: 18px;
  }
}
.gb-main-expertise .gb-page-content .gb-expertise-banner .gb-expertise-banner-inner p {
  font-size: 18px;
  font-weight: 400;
  line-height: 27px;
  color: #595e65;
}
@media (max-width: 992px) {
  .gb-main-expertise .gb-page-content .gb-expertise-banner .gb-expertise-banner-inner p {
    font-size: 14px;
  }
}
@media (max-width: 768px) {
  .gb-main-expertise .gb-page-content .gb-expertise-banner .gb-expertise-banner-inner p {
    font-size: 18px;
  }
}
@media (max-width: 576px) {
  .gb-main-expertise .gb-page-content .gb-expertise-banner .gb-expertise-banner-inner p {
    font-size: 14px;
  }
}
@media (max-width: 992px) {
  .gb-main-expertise .gb-page-content .gb-expertise-banner .gb-expertise-banner-inner {
    padding: 10%;
  }
}
.gb-main-expertise .gb-page-content .gb-expertise-banner .gb-expertise-banner-img {
  height: 100%;
}
.gb-main-expertise .gb-page-content .gb-expertise-banner .gb-expertise-banner-img img {
  width: 100%;
  height: 100%;
}
.gb-main-expertise .gb-page-content .gb-expertise-description {
  padding: 0 32px;
  margin-bottom: 144px;
}
.gb-main-expertise .gb-page-content .gb-expertise-description h1 {
  font-size: 44px;
  font-weight: 800;
  margin-bottom: 82px;
}
@media (max-width: 576px) {
  .gb-main-expertise .gb-page-content .gb-expertise-description h1 {
    margin-bottom: 40px;
  }
}
.gb-main-expertise .gb-page-content .gb-expertise-description .gb-expertise-description-box {
  gap: 24px;
}
.gb-main-expertise .gb-page-content .gb-expertise-description .gb-expertise-description-box .gb-expertise-description-card {
  padding: 64px 36px 52px;
  border-radius: 16px;
}
.gb-main-expertise .gb-page-content .gb-expertise-description .gb-expertise-description-box .gb-expertise-description-card h2 {
  font-size: 36px;
  font-weight: 900;
  margin-bottom: 39px;
}
@media (max-width: 1199px) {
  .gb-main-expertise .gb-page-content .gb-expertise-description .gb-expertise-description-box .gb-expertise-description-card h2 {
    font-size: 34px;
  }
}
@media (max-width: 992px) {
  .gb-main-expertise .gb-page-content .gb-expertise-description .gb-expertise-description-box .gb-expertise-description-card h2 {
    font-size: 30px;
    margin-bottom: 30px;
  }
}
.gb-main-expertise .gb-page-content .gb-expertise-description .gb-expertise-description-box .gb-expertise-description-card p {
  font-size: 18px;
  font-weight: 400;
  line-height: 27px;
  text-align: center;
}
@media (max-width: 1200px) {
  .gb-main-expertise .gb-page-content .gb-expertise-description .gb-expertise-description-box .gb-expertise-description-card p {
    font-size: 14px;
  }
}
.gb-main-expertise .gb-page-content .gb-expertise-description .gb-expertise-description-box .gb-expertise-description-card.des-1 {
  background-color: #f9bc60;
  color: #302f2f;
}
.gb-main-expertise .gb-page-content .gb-expertise-description .gb-expertise-description-box .gb-expertise-description-card.des-1 h2 {
  color: inherit;
}
.gb-main-expertise .gb-page-content .gb-expertise-description .gb-expertise-description-box .gb-expertise-description-card.des-2 {
  background-color: #e16162;
  color: #fafafa;
}
.gb-main-expertise .gb-page-content .gb-expertise-description .gb-expertise-description-box .gb-expertise-description-card.des-2 h2 {
  color: inherit;
}
.gb-main-expertise .gb-page-content .gb-expertise-description .gb-expertise-description-box .gb-expertise-description-card.des-3 {
  background-color: #abd1c6;
  color: #181a1c;
}
.gb-main-expertise .gb-page-content .gb-expertise-description .gb-expertise-description-box .gb-expertise-description-card.des-3 h2 {
  color: inherit;
}
@media (max-width: 992px) {
  .gb-main-expertise .gb-page-content .gb-expertise-description .gb-expertise-description-box .gb-expertise-description-card {
    padding: 3%;
  }
}
@media (max-width: 768px) {
  .gb-main-expertise .gb-page-content .gb-expertise-description .gb-expertise-description-box .gb-expertise-description-card {
    width: 85%;
    margin: 0 auto;
  }
}
@media (max-width: 992px) {
  .gb-main-expertise .gb-page-content .gb-expertise-description .gb-expertise-description-box {
    gap: 16px;
  }
}
.gb-main-expertise .gb-page-content .gb-expertise-experts-box {
  padding: 0;
}
.gb-main-expertise .gb-page-content .gb-expertise-experts-box h1 {
  font-weight: 800;
  font-size: 44px;
  text-align: center;
  color: #000;
  margin-bottom: 68px;
}
@media (max-width: 576px) {
  .gb-main-expertise .gb-page-content .gb-expertise-experts-box h1 {
    margin-bottom: 40px;
  }
}
.gb-main-expertise .gb-page-content .gb-expertise-experts-box .gb-expertise-experts {
  padding: 101px 160px 105px 145px;
  margin-bottom: 107px;
  background-color: #e5e7fa;
}
.gb-main-expertise .gb-page-content .gb-expertise-experts-box .gb-expertise-experts .gb-expertise-expert {
  gap: 14px;
  color: #000;
}
.gb-main-expertise .gb-page-content .gb-expertise-experts-box .gb-expertise-experts .gb-expertise-expert .gb-expertise-expert-name {
  font-size: 24px;
  font-weight: 400;
}
@media (max-width: 991) {
  .gb-main-expertise .gb-page-content .gb-expertise-experts-box .gb-expertise-experts .gb-expertise-expert .gb-expertise-expert-name {
    font-size: 20px;
  }
}
@media (max-width: 768px) {
  .gb-main-expertise .gb-page-content .gb-expertise-experts-box .gb-expertise-experts .gb-expertise-expert .gb-expertise-expert-name {
    font-size: 18px;
  }
}
.gb-main-expertise .gb-page-content .gb-expertise-experts-box .gb-expertise-experts .gb-expertise-expert .gb-expertise-expert-job {
  font-size: 20px;
  font-weight: 400;
}
@media (max-width: 991px) {
  .gb-main-expertise .gb-page-content .gb-expertise-experts-box .gb-expertise-experts .gb-expertise-expert .gb-expertise-expert-job {
    font-size: 14px;
  }
}
@media (max-width: 768px) {
  .gb-main-expertise .gb-page-content .gb-expertise-experts-box .gb-expertise-experts .gb-expertise-expert .gb-expertise-expert-job {
    font-size: 12px;
  }
}
@media (max-width: 992px) {
  .gb-main-expertise .gb-page-content .gb-expertise-experts-box .gb-expertise-experts .gb-expertise-expert img {
    width: 85%;
    height: 85%;
  }
}
@media (max-width: 768px) {
  .gb-main-expertise .gb-page-content .gb-expertise-experts-box .gb-expertise-experts .gb-expertise-expert img {
    width: 50%;
    height: 50%;
  }
}
@media (max-width: 576px) {
  .gb-main-expertise .gb-page-content .gb-expertise-experts-box .gb-expertise-experts .gb-expertise-expert img {
    width: 50%;
    height: 50%;
  }
}
@media (max-width: 1200px) {
  .gb-main-expertise .gb-page-content .gb-expertise-experts-box .gb-expertise-experts {
    padding: 8% 5%;
  }
}
@media (max-width: 768px) {
  .gb-main-expertise .gb-page-content .gb-expertise-experts-box .gb-expertise-experts {
    padding: 5% 1%;
  }
}
.gb-main-expertise .gb-page-content .gb-expertise-help {
  padding: 0 328px;
  margin-bottom: 202px;
}
.gb-main-expertise .gb-page-content .gb-expertise-help .gb-expertise-form-title {
  font-size: 44px;
  font-weight: 800;
  margin-bottom: 61px;
  display: flex;
  justify-content: center;
}
@media (max-width: 768px) {
  .gb-main-expertise .gb-page-content .gb-expertise-help .gb-expertise-form-title {
    font-size: 36px;
  }
}
@media (max-width: 576px) {
  .gb-main-expertise .gb-page-content .gb-expertise-help .gb-expertise-form-title {
    font-size: 22px;
  }
}
.gb-main-expertise .gb-page-content .gb-expertise-help .item {
  margin-bottom: 27px;
}
@media (max-width: 576px) {
  .gb-main-expertise .gb-page-content .gb-expertise-help .item {
    margin-bottom: 10px;
  }
}
.gb-main-expertise .gb-page-content .gb-expertise-help .item .form-label {
  margin-bottom: 4px;
}
.gb-main-expertise .gb-page-content .gb-expertise-help .item .form-label .gb-expertise-dot {
  color: red;
}
.gb-main-expertise .gb-page-content .gb-expertise-help .gb-expertise-help-btn {
  padding: 12px 48px;
  background-color: #153d3b;
  border-radius: 16px;
  font-weight: 900;
  font-size: 20px;
  color: #ffffff;
  border: none;
}
@media (max-width: 576px) {
  .gb-main-expertise .gb-page-content .gb-expertise-help .gb-expertise-help-btn {
    padding: 6px 20px;
    font-size: 12px;
  }
}
.gb-main-expertise .gb-page-content .gb-expertise-help .help-text {
  font-size: 12px;
  font-weight: 400;
  color: #787878;
  margin-top: 11px;
}
@media (max-width: 576px) {
  .gb-main-expertise .gb-page-content .gb-expertise-help .help-text {
    font-size: 10px;
    margin-top: 2px;
    line-height: 18px;
  }
}
@media (max-width: 1200px) {
  .gb-main-expertise .gb-page-content .gb-expertise-help {
    padding: 0 15%;
  }
}
@media (max-width: 768px) {
  .gb-main-expertise .gb-page-content .gb-expertise-help {
    margin-bottom: 10%;
  }
}
@media (max-width: 576px) {
  .gb-main-expertise .gb-page-content .gb-expertise-help .form-label {
    font-size: 12px;
    line-height: 16px;
  }
  .gb-main-expertise .gb-page-content .gb-expertise-help .form-control {
    height: 40px;
  }
  .gb-main-expertise .gb-page-content .gb-expertise-help .form-control.form-control-text-area {
    height: 50px;
  }
}
@media (max-width: 576px) and (max-width: 576px) {
  .gb-main-expertise .gb-page-content .gb-expertise-help .form-control {
    height: 30px;
  }
}
@media (max-width: 576px) {
  .gb-main-expertise .gb-page-content .gb-expertise-help .btn-toggle {
    padding: 8px 17px 8px 21px;
    font-size: 14px;
    height: 40px;
  }
}
@media (max-width: 576px) and (max-width: 576px) {
  .gb-main-expertise .gb-page-content .gb-expertise-help .btn-toggle {
    padding: auto;
    font-size: 10px;
    height: 30px;
  }
}
.gb-main-expertise .gb-page-content .gb-expertise-contact {
  padding: 77px 824px 77px 144px;
  background-color: #143b39;
}
.gb-main-expertise .gb-page-content .gb-expertise-contact h1 {
  font-weight: 900;
  font-size: 36px;
  color: #ffffff;
}
@media (max-width: 768px) {
  .gb-main-expertise .gb-page-content .gb-expertise-contact h1 {
    font-size: 30px;
  }
}
@media (max-width: 576px) {
  .gb-main-expertise .gb-page-content .gb-expertise-contact h1 {
    font-size: 20px;
  }
}
.gb-main-expertise .gb-page-content .gb-expertise-contact h4 {
  color: #ffffff;
  font-size: 18px;
  font-weight: 400;
}
@media (max-width: 576px) {
  .gb-main-expertise .gb-page-content .gb-expertise-contact h4 {
    font-size: 12px;
  }
}
@media (max-width: 1200px) {
  .gb-main-expertise .gb-page-content .gb-expertise-contact {
    padding: 5% 45% 10% 10%;
  }
}
@media (max-width: 768px) {
  .gb-main-expertise .gb-page-content .gb-expertise-contact {
    padding: 5% 30% 8% 10%;
  }
}

body a {
  text-decoration: none;
}

::-webkit-scrollbar {
  width: 6px;
  height: 6px;
}

::-webkit-scrollbar-track {
  box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
}

::-webkit-scrollbar-thumb {
  background-color: rgba(0, 70, 67, 0.5);
}

.gb-loader-wrapper {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
  z-index: 99999;
  background-color: rgba(255, 255, 255, 0.9);
}

.gb-loader-element {
  width: 50px;
  height: 50px;
  background: #004643;
  position: absolute;
  left: 50%;
  margin-left: -25px;
  top: 50%;
  margin-top: -25px;
}

.gb-loader-text {
  font-size: 10px;
  font-weight: 700;
  text-transform: uppercase;
  color: rgba(0, 70, 67, 0.5);
  top: 50%;
  margin-top: 25px;
  position: absolute;
  width: 100%;
  text-align: center;
}

@-webkit-keyframes deTranslateIn {
  30% {
    -webkit-transform: rotateX(60deg) rotateY(0deg) rotateZ(45deg) translateZ(20px) scale(0.95);
    opacity: 0.25;
  }
  100% {
    -webkit-transform: rotateX(65deg) rotateY(0deg) rotateZ(45deg) translateZ(0px) scale(0.85);
    opacity: 0;
  }
}
@keyframes deTranslateIn {
  30% {
    transform: rotateX(60deg) rotateY(0deg) rotateZ(45deg) translateZ(20px) scale(0.95);
    opacity: 0.25;
  }
  100% {
    transform: rotateX(65deg) rotateY(0deg) rotateZ(45deg) translateZ(0px) scale(0.85);
    opacity: 0;
  }
}
.gb-loader-element {
  opacity: 0;
}
.gb-loader-element:nth-of-type(1) {
  transform: rotateX(70deg) rotateY(0deg) rotateZ(45deg) translateZ(30px);
  -webkit-animation: deTranslateIn 1.5s ease-in infinite 500ms;
  animation: deTranslateIn 1.5s ease-in infinite 500ms;
}
.gb-loader-element:nth-of-type(2) {
  transform: rotateX(70deg) rotateY(0deg) rotateZ(45deg) translateZ(60px);
  -webkit-animation: deTranslateIn 1.5s ease-in infinite 700ms;
  animation: deTranslateIn 1.5s ease-in infinite 700ms;
}
.gb-loader-element:nth-of-type(3) {
  transform: rotateX(70deg) rotateY(0deg) rotateZ(45deg) translateZ(90px);
  -webkit-animation: deTranslateIn 1.5s ease-in infinite 800ms;
  animation: deTranslateIn 1.5s ease-in infinite 800ms;
}

@-webkit-keyframes deScaleIn {
  80% {
    -webkit-transform: rotateX(65deg) rotateY(0deg) rotateZ(45deg) scale(1.25);
    opacity: 0.1;
  }
  100% {
    -webkit-transform: rotateX(65deg) rotateY(0deg) rotateZ(45deg) scale(1);
    opacity: 0;
  }
}
@keyframes deScaleIn {
  80% {
    transform: rotateX(65deg) rotateY(0deg) rotateZ(45deg) scale(1.25);
    opacity: 0.1;
  }
  100% {
    transform: rotateX(65deg) rotateY(0deg) rotateZ(45deg) scale(1);
    opacity: 0;
  }
}
.gb-loader-large-square {
  width: 70px;
  height: 70px;
  background: #004643;
  position: absolute;
  left: 50%;
  margin-left: -35px;
  top: 50%;
  margin-top: -35px;
  transform: rotateX(60deg) rotateY(0deg) rotateZ(45deg) scale(0);
  opacity: 0;
  -webkit-animation: deScaleIn 3s linear infinite 500ms;
  animation: deScaleIn 3s linear infinite 500ms;
}

@media screen and (max-width: 768px) {
  .container {
    max-width: calc(100% - 120px) !important;
    padding: 0 !important;
    margin: auto !important;
  }
}
@media screen and (max-width: 1200px) {
  .container {
    max-width: calc(100% - 210px);
    padding: 0 !important;
    margin: auto !important;
  }
}
@media screen and (min-width: 1200px) {
  .container {
    max-width: calc(100% - 288px);
    padding: 0 !important;
    margin: auto !important;
  }
}
@-webkit-keyframes appfly {
  25% {
    transform: translateY(-5px);
  }
  50% {
    transform: translateY(0);
  }
  75% {
    transform: translateY(5px);
  }
  100% {
    transform: translateY(0);
  }
}
@keyframes appfly {
  25% {
    transform: translateY(-5px);
  }
  50% {
    transform: translateY(0);
  }
  75% {
    transform: translateY(5px);
  }
  100% {
    transform: translateY(0);
  }
}
@-webkit-keyframes appfly2 {
  25% {
    transform: translateY(5px);
  }
  50% {
    transform: translateY(0);
  }
  75% {
    transform: translateY(-5px);
  }
  100% {
    transform: translateY(0);
  }
}
@keyframes appfly2 {
  25% {
    transform: translateY(5px);
  }
  50% {
    transform: translateY(0);
  }
  75% {
    transform: translateY(-5px);
  }
  100% {
    transform: translateY(0);
  }
}/*# sourceMappingURL=style.css.map */